node_modules
bower_components
.DS_Store
npm-debug.log
test/
desktop.ini
.vscode/
idea/

# PhpStorm
.idea/

# Versioning
.svn/
.git/

smogon/
scripts/downloads/

# Generated Audit Reports
scripts/sprite_audit_report.csv
website/audit.html
website/audit_data.json
website/audit_report.csv
